# Traveling Santa - 2018

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
import sys
import time
import math

In [2]:
df_cities = pd.read_csv('data/cities.csv')

cities = np.array(df_cities['CityId'])
X = np.array(df_cities['X'])
Y = np.array(df_cities['Y'])

df_cities.head()

   CityId            X            Y
0       0   316.836739  2202.340707
1       1  4377.405972   336.602082
2       2  3454.158198  2820.053011
3       3  4688.099298  2935.898056
4       4  1010.696952  3236.750989

In [3]:
def calcular_distancia (origen, destino):
    distancia = np.sqrt(pow((df_cities.X[destino] - df_cities.X[origen]),2) +
                        pow((df_cities.Y[destino] - df_cities.Y[origen]),2))
    
    return distancia

In [4]:
def get_destiny(origin):
    mindistance = sys.maxsize
    for city in no_visited:
        distance = calcular_distancia(origin, city)
        if (distance < mindistance ):
            mindistance = distance
            nextCity = city
    return nextCity, mindistance

In [5]:
numVertices = len(df_cities.CityId)
cities = df_cities['CityId']
visited_city = [0,]
#no_visited = df_cities['CityId']
#no_visited = no_visited.drop(0)
no_visited = cities
no_visited = no_visited.drop(0)
total_distance = 0

start = time.time()
city, distancia = get_destiny(0)
elapsed_time = time.time() - start

print (city)
print (distancia)
print (elapsed_time)

78934
8.71387617533
9.511553764343262

## Pruebas

In [6]:
numVertices = len(df_cities.CityId)
print (numVertices)

a = np.array(df_cities['CityId'])
print(a)
type(a)
################
destino = 4
origen = 780
d = np.sqrt(pow((df_cities.X[destino] - df_cities.X[origen]),2) + 
                    pow((df_cities.Y[destino] - df_cities.Y[origen]),2))
print (d)
###########
#p = [ [0 for i in range (197770)] for i in range (197770)]
#print (len(p))

197769
[     0      1      2 ..., 197766 197767 197768]
3648.08387893