# Traveling Santa - 2018

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
import sys
import time
import math

In [11]:
df_cities = pd.read_csv('data/cities.csv')
df_cities.head()

   CityId            X            Y
0       0   316.836739  2202.340707
1       1  4377.405972   336.602082
2       2  3454.158198  2820.053011
3       3  4688.099298  2935.898056
4       4  1010.696952  3236.750989

In [12]:
def calcular_distancia (origen, destino):
    distancia = 0
    distancia = math.sqrt( (df_cities['X'][df_cities.CityId[destino]] - df_cities['X'][df_cities.CityId[origen]])**2 +
                           (df_cities['Y'][df_cities.CityId[destino]] - df_cities['Y'][df_cities.CityId[origen]])**2)

    return distancia

In [13]:
def get_destiny(origin, mindistance):
    for city in no_visited:
        distance = calcular_distancia(origin, city)
        if (distance < mindistance ):
            mindistance = distance
            nextCity = city
    return nextCity, mindistance

In [17]:
numVertices = len(df_cities.CityId)
cities = df_cities['CityId']
visited_city = [0,]
no_visited = df_cities['CityId']
no_visited = no_visited.drop(0)
total_distance = 0
minimum = sys.maxsize

start = time.time()
city, distance = get_destiny(0, minimum)
elapsed_time = time.time() - start

print (city)
print (distance)
print (elapsed_time)

78934
8.713876175328434
36.4306321144104

In [ ]:
numVertices = len(df_cities.CityId)
np.array()