# Traveling Santa - 2018

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
import sys

In [2]:
df_cities = pd.read_csv('data/cities.csv')
df_cities.head()

   CityId            X            Y
0       0   316.836739  2202.340707
1       1  4377.405972   336.602082
2       2  3454.158198  2820.053011
3       3  4688.099298  2935.898056
4       4  1010.696952  3236.750989

In [17]:
def calcular_distancia (origen, destino):
    distancia = 0
    #distancia = math.sqrt( (df_cities['X'][df_cities.CityId[destino]] - df_cities['X'][df_cities.CityId[origen]])**2 +
    #                       (df_cities['Y'][df_cities.CityId[destino]] - df_cities['Y'][df_cities.CityId[origen]])**2)

    distancia = df_cities.loc[df_cities]
    return distancia

In [22]:
def get_destiny(origin):
    mindistance = sys.maxsize
    for city in no_visited:
        distance = calcular_distancia(origin, city)
        if (distance < mindistance ):
            mindistance = distance
            nextCity = city
    return nextCity, mindistance

In [26]:
numVertices = len(df_cities.CityId)
cities = df_cities['CityId']
visited_city = [0,]
no_visited = df_cities['CityId']
no_visited.drop(0)
total_distance = 0

start = time.time()
city, distance = get_destiny(0)
elapsed_time = start - time.time()

print (distancia)
print (elapsed_time)

1950.6771810966698
-35.00345420837402

In [21]:
numVertices = len(df_cities.CityId)
print (numVertices)

197769